<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Instamash</title>
    <link rel="stylesheet" type="text/css" href="static/css/styleCol.css">
    <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
    <img src="https://scontent-muc2-1.xx.fbcdn.net/v/t39.30808-1/265283615_4794720467252887_2269949920621939022_n.jpg?stp=dst-jpg_p200x200&_nc_cat=100&ccb=1-5&_nc_sid=7206a8&_nc_ohc=tzPaVUESWnAAX_adKOO&_nc_ht=scontent-muc2-1.xx&oh=00_AT-a-nV5gxF1X-Kip86afm96I3n3S0fv3HdjWyRNThCLaw&oe=6241217A">
</body>
</html>