<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title font="Lobster">Instamash</title>
    <link rel="stylesheet" type="text/css" href="static/css/styleCol.css">
    <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">

</head>

<body>

    <script>
        function divInOut(divName){
          if(document.getElementById(divName)){
            document.getElementById(divName).style.display = (document.getElementById(divName).style.display == 'none') ? 'inline' : 'none';
          }
        }
    </script>

    <span class="header">who is hotter?</span>

    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">
            <form method="POST">
                <input type="hidden" name="chose" value="left">
                <input type="hidden" name="left_src" value="{{ image1 }}">
                <input type="hidden" name="right_src" value="{{ image2 }}">
                <input type="image" src="{{ image1 }}" draggable="false">
                <!--<p>{{ elo1 }}</p>-->
                <p class="name">{{ name1 }}</p>
            </form>
            
            <div class="logos">
                <div id="twitterlinks", style="display:inline;">
                    <a href="{{ twitter1 }}" target="_blank">
                        <img class="twitter", src="static/logos/Twitter-logo.png">
                    </a>
                </div>
                <div id="instalinks", style="display:inline;">
                    <a href="{{ insta1 }}" target="_blank">
                        <img class="insta", src="static/logos/Instagram-logo.png">
                    </a>
                </div>
                <div id="phlinks", style="display:inline;">
                    <a href="{{ ph1 }}" target="_blank">
                        <img class="ph", src="static/logos/Pornhub-logo.png">
                    </a>
                </div>
            </div>

        </div>

        <div class="flexbox-item flexbox-item-2">
            <form method="POST">
                <input type="hidden" name="chose" value="right">
                <input type="hidden" name="left_src" value="{{ image1 }}">
                <input type="hidden" name="right_src" value="{{ image2 }}">
                <input type="image" src="{{ image2 }}" draggable="false">
                <!--<p>{{ elo2 }}</p>-->
                <p class="name">{{ name2 }}</p>
            </form>
            <div class="logos">
                <div id="twitterrechts", style="display:inline;">
                    <a href="{{ twitter2 }}" target="_blank">
                        <img class="twitter", src="static/logos/Twitter-logo.png">
                    </a>
                </div>
                <div id="instarechts", style="display:inline;">
                    <a href="{{ insta2 }}" target="_blank">
                        <img class="insta", src="static/logos/Instagram-logo.png">
                    </a>
                </div>
                <div id="phrechts", style="display:inline;">
                    <a href="{{ ph2 }}" target="_blank">
                        <img class="ph", src="static/logos/Pornhub-logo.png">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div style="font-size: 15px; position: relative; display: flex; align-items: center; justify-content: center; padding-top: 20px">
        <a href="/top">
            <p>Zu den Top 50 →</p>
        </a>
    </div>

    <script>
        var insta1 = '{{ insta1 }}';
        var insta2 = '{{ insta2 }}';
        var ph1 = '{{ ph1 }}';
        var ph2 = '{{ ph2 }}';
        var twitter1 = '{{ twitter1 }}';
        var twitter2 = '{{ twitter2 }}';


        if(insta1 === 'none'){
            divInOut('instalinks');
            console.log("instalink links nicht vorhanden");
        }
        if(insta2 === 'none'){
            divInOut('instarechts');
        }
        if(ph1 === 'none'){
            divInOut('phlinks');
        }
        if(ph2 === 'none'){
            divInOut('phrechts');
        }
        if(twitter1 === 'none'){
            divInOut('twitterlinks');
        }
        if(twitter2 === 'none'){
            divInOut('twitterRechts');
        }
    </script>

</body>
</html>