<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title font="Lobster">Instamash</title>
    <link rel="stylesheet" type="text/css" href="static/css/styleTop.css">
    <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
</head>

<body>


    <script>
        function divInOut(divName){
          if(document.getElementById(divName)){
            document.getElementById(divName).style.display = (document.getElementById(divName).style.display == 'none') ? 'inline' : 'none';

          }
        }
    </script>

    <span class="header">Top 50</span>

    <div class="grid-container">
        {% for girl in girls %}
        <div class="grid-item grid-item-1">
            <img class="img", src="{{ girl.image_source }}", draggable="false">
        </div>

        <div class="grid-item grid-item-2">
            <span>{{ girl.name }}</span>
        </div>

        <div class="grid-item grid-item-3">
            <!--
            TESTING WITH SOCIAL LINKS INSTEAD OF ELO

            <span>{{ girl.elo | int }}</span>
            -->
            <div id="phlinks", style="display:inline;">
                <a href="{{ girl.ph }}" target="_blank">
                    <img class="ph", src="static/logos/Pornhub-logo-short.png">
                </a>
            </div>

            <div id="instalinks", style="display:inline;">
                <a href="{{ girl.insta }}" target="_blank">
                    <img class="insta", src="static/logos/Instagram-logo.png">
                </a>
            </div>

            <div id="twitterlinks", style="display:inline;">
                <a href="{{ girl.twitter }}" target="_blank">
                    <img class="twitter", src="static/logos/Twitter-logo.png">
                </a>
            </div>

        </div>

        <script>
            var insta = '{{ girl.insta }}';
            var ph = '{{ girl.ph }}';
            var twitter = '{{ girl.twitter }}';

            if(insta === 'none'){
                divInOut('instalinks');
            }
            if(ph === 'none'){
                divInOut('phlinks');
            }
            if(twitter === 'none'){
                divInOut('twitterlinks');
            }

            document.getElementById('phlinks').id = 'lol'
            document.getElementById('instalinks').id = 'lol'
            document.getElementById('twitterlinks').id = 'lol'
        </script>

        {% endfor %}
        

    </div>

</body>
</html>